body {
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Viga", sans-serif;
}

:root {
  --primary: #431785;
}
img {
  max-width: 300px;
}

.arkav-btn {
  color: white;
  background: #fe789a;
}

.arkav-btn:hover {
  color: white;
  background: #f8afc1;
}

.arkav-btn:disabled {
  color: white;
  background: lightgray;
  cursor: default;
}

.arkav-btn-outline {
  color: #fe789a;
  background-color: white;
  border-color: #fe789a;
}

.arkav-btn-outline:hover {
  color: white;
  background-color: #f8afc1;
  border-color: white;
}
