body {
  margin-top: 1rem;
  font-family: "Viga", sans-serif;
}
:root {
  --primary: #431785;
}
img {
  max-width: 300px;
}

.arkav-btn {
  color: white;
  background: #fe789a;
}

.arkav-btn-outline {
  color: #fe789a;
  background-color: white;
  border-color: #fe789a;
}
